<!DOCTYPE html>
<html lang="en">
  {% include 'head', title:'Recipes | ZenPlate' %}
  <body class="page">
    {% include 'header' %}
    <main id="main-content">

      <h1 class="page-three-about">ABOUT</h1>
      
<img src="/assets/background-img2.jpeg" alt="Kaylah Baby picture Background Image" class="top-image">
   

      <p class="about-me-text">Welcome to ZenPlate! I'm Kaylah, and my love affair with food traces back to my Jamaican roots, where I grew up savoring the aromatic and soulful dishes crafted by my mom. From her perfectly seasoned jerk chicken to the comforting embrace of rice and peas, my mom's kitchen was a treasure trove of flavors that ignited my passion for cooking.

When the pandemic hit and life slowed down, I found solace and inspiration in the kitchen. Cooking became my therapy, my creative outlet, and a way to connect with cherished memories of family gatherings and shared meals.

But that's not all. At ZenPlate, I understand the challenges of being a college student - balancing studies, budget, and time constraints. That's why I'm dedicated to sharing budget-friendly and healthy recipes that require minimal cooking equipment. Whether you're in a dorm room with just a microwave and a mini-fridge or cooking in a shared kitchen with limited resources, I've got you covered. Let's cook, eat, and savor life's flavorful moments together!</p>
     

     
   
    </main>
    {% include 'footer' %}
  </body>
</html>
